.card{
  border:3px solid black;
  margin:15px;
}
.card img{
  border:2px solid yellow;
}
.box1{
width:210px;
height:45px;
display:flex;
flex-direction: column;
justify-content: center;

}
button{
  width:200px;
  height:32px;
  text-align: center;

}

.edit1{
  height:125px;

}
.desc {

  display:flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 5px;



}
.desc star{
    padding:10px;
}
.desc price{
    padding:10px;
}
